################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/working parser/.vs/test parser/v15
/.vscode
